$background: #261c2c;
$background-light: #3e2c41;
$textLight: #6e85b2;
$textDark: #5c527f;
body {
  background-color: $background;
}
a {
  text-decoration: none;
  color: inherit;
}
.App {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;

  .title-container {
    display: flex;
    flex-direction: column;

    .name {
      margin-bottom: 0;
      font-size: 70px;
      color: $textLight;
      span {
        display: block;
      }
    }
    .titleName {
      font-size: 40px;
      color: $textDark;
    }
    .tag {
      color: #4a72c2;
      font-weight: bold;
    }
  }
  .profile-img {
    box-shadow: 0px 0px 10px $textDark;
    border-radius: 150px;
    width: 25%;
    height: 25%;
  }
}

.contact {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-flow: row wrap;

  .cv {
    cursor: pointer;
    border: none;
    color: white;
    margin-bottom: 7px;
    border-radius: 20px;
    padding: 20px;
    background-color: $textDark;
    transition: 0.5s;
  }
  .cv:hover {
    box-shadow: 0px 2px 10px $textDark;
    background-color: $textLight;
  }
  img {
    width: 40px;
    margin-left: 30px;
    border-radius: 200px;
  }

  .gmail_icon {
    border-radius: 0;
  }
  img:hover {
    box-shadow: 0px 0px 10px $textDark;
  }
}

nav {
  background-color: $textDark;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 0;
  width: 80%;
  box-shadow: 0px 2px 10px $textDark;
  color: white;
  ul {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
    width: 100%;
    margin: 0;
  }

  a {
    padding: 15px 80px;
  }

  li {
    width: 100%;
    text-align: center;
    list-style: none;
    align-items: center;
    padding: 20px;

    transition: 0.5s;
  }
  li:hover {
    background-color: $background-light;
  }
  li:first-child:hover {
    border-bottom-left-radius: 20px;
  }
  li:last-child:hover {
    border-bottom-right-radius: 20px;
  }
}

main {
  color: white;
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 30%;
  background-color: $textDark;
  color: white;
  border: none;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  transition: 0.5s;
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 20px;
  }
}
.card:hover {
  box-shadow: 0px 0px 10px $textDark;
}
.container {
  border: 2px solid red;
}
